<a href="https://colab.research.google.com/github/gigikenneth/netflix/blob/main/netflix_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ViewingActivity.csv')

In [3]:
df.head(4)

  Profile Name           Start Time  ...  Latest Bookmark       Country
0    Chigoziem  2021-12-25 09:08:44  ...         00:59:51  NG (Nigeria)
1    Chigoziem  2021-12-25 01:05:47  ...         00:00:50  NG (Nigeria)
2    Chigoziem  2021-12-24 15:32:30  ...         01:27:29  NG (Nigeria)
3    Chigoziem  2021-12-24 08:23:18  ...  Not latest view  NG (Nigeria)

[4 rows x 10 columns]

In [4]:
df.describe()

       Profile Name           Start Time  ...  Latest Bookmark       Country
count          7734                 7734  ...             7734          7734
unique            5                 7726  ...             1617             6
top            Gigi  2021-09-16 11:10:56  ...  Not latest view  NG (Nigeria)
freq           3652                    2  ...             3931          7252

[4 rows x 10 columns]

In [6]:
df1 = df.drop(['Supplemental Video Type', 'Attributes', 'Bookmark', 'Latest Bookmark', 'Country'], axis=1)

In [7]:
df1.head()

  Profile Name  ...                                   Device Type
0    Chigoziem  ...  Android DefaultWidevineL3Phone Android Phone
1    Chigoziem  ...  Android DefaultWidevineL3Phone Android Phone
2    Chigoziem  ...  Android DefaultWidevineL3Phone Android Phone
3    Chigoziem  ...  Android DefaultWidevineL3Phone Android Phone
4    Chigoziem  ...  Android DefaultWidevineL3Phone Android Phone

[5 rows x 5 columns]