<a href="https://colab.research.google.com/github/gigikenneth/netflix/blob/main/netflix2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ViewingActivityy.csv')

In [3]:
df.head(4)

  Profile Name      Start Time Duration  ... Bookmark  Latest Bookmark       Country
0         Gigi  26-12-21 13:27  0:00:22  ...  0:01:59          0:01:59  NG (Nigeria)
1         Gigi  26-12-21 13:18  0:09:20  ...  0:44:35          0:44:35  NG (Nigeria)
2         Gigi   26-12-21 8:01  0:18:01  ...  0:35:22  Not latest view  NG (Nigeria)
3         Gigi   26-12-21 8:00  0:00:39  ...  0:17:22  Not latest view  NG (Nigeria)

[4 rows x 10 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3652 entries, 0 to 3651
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Profile Name             3652 non-null   object
 1   Start Time               3652 non-null   object
 2   Duration                 3652 non-null   object
 3   Attributes               31 non-null     object
 4   Title                    3652 non-null   object
 5   Supplemental Video Type  1125 non-null   object
 6   Device Type              3652 non-null   object
 7   Bookmark                 3652 non-null   object
 8   Latest Bookmark          3652 non-null   object
 9   Country                  3652 non-null   object
dtypes: object(10)
memory usage: 285.4+ KB

In [5]:
df.tail()

     Profile Name      Start Time  ...  Latest Bookmark       Country
3647         Gigi  08-08-21 22:22  ...          0:00:04  NG (Nigeria)
3648         Gigi  08-08-21 22:22  ...          0:00:45  NG (Nigeria)
3649         Gigi  08-08-21 22:21  ...  Not latest view  NG (Nigeria)
3650         Gigi  08-08-21 22:20  ...  Not latest view  NG (Nigeria)
3651         Gigi  08-08-21 22:19  ...          0:00:53  NG (Nigeria)

[5 rows x 10 columns]

In [6]:
df.describe()

       Profile Name      Start Time  ...  Latest Bookmark       Country
count          3652            3652  ...             3652          3652
unique            1            3245  ...              937             5
top            Gigi  14-12-21 22:07  ...  Not latest view  NG (Nigeria)
freq           3652               5  ...             1952          3644

[4 rows x 10 columns]

In [7]:
df1 = df.drop(['Supplemental Video Type', 'Attributes', 'Bookmark', 'Latest Bookmark'], axis=1)

In [8]:
df.head()

  Profile Name      Start Time Duration  ... Bookmark  Latest Bookmark       Country
0         Gigi  26-12-21 13:27  0:00:22  ...  0:01:59          0:01:59  NG (Nigeria)
1         Gigi  26-12-21 13:18  0:09:20  ...  0:44:35          0:44:35  NG (Nigeria)
2         Gigi   26-12-21 8:01  0:18:01  ...  0:35:22  Not latest view  NG (Nigeria)
3         Gigi   26-12-21 8:00  0:00:39  ...  0:17:22  Not latest view  NG (Nigeria)
4         Gigi   26-12-21 8:00  0:00:09  ...  0:00:09          0:00:09  NG (Nigeria)

[5 rows x 10 columns]