<a href="https://colab.research.google.com/github/gigikenneth/netflix/blob/main/netflix_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[Dataquest Beginner Python Tutorial: Analyze Your Personal Netflix Data](http://links.iterable.com/u/click?_t=4a16705ff7784260b1b139ad7ac93ebf&_m=efba214df7b74adc84ef7f5b922b6d06&_e=8TJ4DQoJvJqLtEBqLNPGdXLvsMnAG4PY2eb11c8xjkGEXW7C4nB8vjMcmh_nR0ZxJzBj7XV4EBXJChUdw-j-ejYEOaJxlWX-SSGGC_VcH3eHAhqYeHkKO_9rQ0UGeO1hp6Wqal9DD9Pf33L48RcmX-NEgEic6DQ1ctLSXmC94Kiv0ZOPu2ajqyrHcZEg26yX0ZnRE0c2VgwJeG3v7j9hM5DXUZBL8WpIub1s9DHgKEpA1ZWGaKOHysTVBVznyfBadY-Rk5HrmAy-gbAqGHg1UFaL2rC3GKNmZ3xlOiRn-Y6veJQOsyMWwOcIN7lFIzs7Qm_RwGwjyMgHy2V6Zeb4-OD1l7PISv4Pxud1hiCTEvYGUcNYy3fYZw_56mWcAPxbMOAhQF9IZOUfcttZcovpiw%3D%3D)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ViewingActivity.csv')

In [3]:
df.head(4)

  Profile Name           Start Time  ...  Latest Bookmark       Country
0    Chigoziem  2021-12-25 09:08:44  ...         00:59:51  NG (Nigeria)
1    Chigoziem  2021-12-25 01:05:47  ...         00:00:50  NG (Nigeria)
2    Chigoziem  2021-12-24 15:32:30  ...         01:27:29  NG (Nigeria)
3    Chigoziem  2021-12-24 08:23:18  ...  Not latest view  NG (Nigeria)

[4 rows x 10 columns]

In [4]:
df.describe()

       Profile Name           Start Time  ...  Latest Bookmark       Country
count          7734                 7734  ...             7734          7734
unique            5                 7726  ...             1617             6
top            Gigi  2021-11-08 17:15:57  ...  Not latest view  NG (Nigeria)
freq           3652                    2  ...             3931          7252

[4 rows x 10 columns]

dropping columns I don't think I need

In [5]:
df1 = df.drop(['Supplemental Video Type', 'Attributes', 'Bookmark', 'Latest Bookmark'], axis=1)

In [6]:
df1.head()

  Profile Name  ...       Country
0    Chigoziem  ...  NG (Nigeria)
1    Chigoziem  ...  NG (Nigeria)
2    Chigoziem  ...  NG (Nigeria)
3    Chigoziem  ...  NG (Nigeria)
4    Chigoziem  ...  NG (Nigeria)

[5 rows x 6 columns]

convert strings to datetime and timedelta in pandas

In [7]:
df1.dtypes

Profile Name    object
Start Time      object
Duration        object
Title           object
Device Type     object
Country         object
dtype: object

In [8]:
#convvert start time to datetime

df1['Start Time'] = pd.to_datetime(df1['Start Time'], utc=True)
df1.dtypes

Profile Name                 object
Start Time      datetime64[ns, UTC]
Duration                     object
Title                        object
Device Type                  object
Country                      object
dtype: object

In [9]:
#df1.set_index('Start Time', drop=False, inplace=True)

In [ ]:
#df1.index = df1.index.tz.localize('UTC').tz_convert('Africa/Lagos')

In [10]:
#df1.index  = df1.index.tz_convert('Africa/Lagos')

In [9]:
df1.head()

  Profile Name  ...       Country
0    Chigoziem  ...  NG (Nigeria)
1    Chigoziem  ...  NG (Nigeria)
2    Chigoziem  ...  NG (Nigeria)
3    Chigoziem  ...  NG (Nigeria)
4    Chigoziem  ...  NG (Nigeria)

[5 rows x 6 columns]

In [10]:
#converting duration to a timedelta

df1['Duration'] = pd.to_timedelta(df1['Duration'])

df1.dtypes

Profile Name                 object
Start Time      datetime64[ns, UTC]
Duration            timedelta64[ns]
Title                        object
Device Type                  object
Country                      object
dtype: object

In [11]:
# reset the index so that Start Time becomes a column again
# df1 = df1.reset_index()#double-check that it worked
# df1.head(1)

In [ ]:
#convert duration to timedelta

filtering 'Squid Game' using str.contains()

In [12]:
# create a new dataframe called office that that takes from df
# only the rows in which the Title column contains 'Squid Game'

squid =  df1[df1['Title'].str.contains('Squid Game', regex=False)]

In [13]:
squid.describe()

                        Duration
count                        182
mean   0 days 00:18:05.302197802
std    0 days 00:18:49.432914907
min              0 days 00:00:01
25%       0 days 00:00:55.250000
50%       0 days 00:12:35.500000
75%       0 days 00:29:19.500000
max              0 days 01:00:45

In [14]:
squid.shape

(182, 6)

In [15]:
import matplotlib as plt

In [16]:
squid = squid[(squid['Duration'] > '0 days 00:01:00')]

In [17]:
squid.shape

(136, 6)

In [18]:
squid['Duration'].sum()

Timedelta('2 days 06:41:26')

when did i watch squid game

In [24]:
squid['weekday'] = squid['Start Time'].dt.weekday
#.dt.weekdaysquid['hour'] = squid['Start Time'].dt.hour

In [25]:
squid['hour'] = squid['Start Time'].dt.hour
#squid.head(1)

In [27]:
squid.head(10)

     Profile Name                Start Time  ... weekday hour
1289    Chigoziem 2021-10-20 12:40:08+00:00  ...       2   12
1314    Chigoziem 2021-10-19 21:15:40+00:00  ...       1   21
1315    Chigoziem 2021-10-19 20:53:15+00:00  ...       1   20
1316    Chigoziem 2021-10-19 20:31:17+00:00  ...       1   20
1317    Chigoziem 2021-10-19 16:51:40+00:00  ...       1   16
1318    Chigoziem 2021-10-19 15:51:33+00:00  ...       1   15
1319    Chigoziem 2021-10-19 15:16:16+00:00  ...       1   15
1402    Chigoziem 2021-10-17 22:29:19+00:00  ...       6   22
1412    Chigoziem 2021-10-17 14:04:54+00:00  ...       6   14
1415    Chigoziem 2021-10-17 13:37:23+00:00  ...       6   13

[10 rows x 8 columns]